
@font-face{
    font-family: 'CaviarDreams';
    src: url(../css/assets/CaviarDreams.ttf);
}
@font-face{
    font-family: 'CaviarDreams Bold';
    src: url(../css/assets/CaviarDreams_Bold.ttf);
}
@font-face{
    font-family: 'CaviarDreams BoldItalic';
    src: url(../css/assets/CaviarDreams_BoldItalic.ttf);
}
@font-face{
    font-family: 'CaviarDreams Italic';
    src: url(../css/assets/CaviarDreams_Italic.ttf);
}
:root{
    --violet-color: #c276d0;
    --lilac-color: #e1bbea;
    --grey-color: #eff0f3;
    --white-color: white;
    --fontFamily-normal: 'CaviarDreams';
    --fontFamily-bold: 'CaviarDreams Bold';
    --fontFamily-boldItalic: 'CaviarDreams BoldItalic';
    --fontFamily-italic: 'CaviarDreams Italic';
}

.btnExplorer:hover{
    background-color: var(--violet-color);
    color: var(--white-color);
}
.btnNavOfMain{
    background-color: var(--white-color);
}

.btnNavOfMain:hover{
    background-color: var(--violet-color);
    color: var(--white-color);
}

.btnNavOnMain{
    background-color: var(--violet-color);
    color: var(--white-color);
}
.btnForm{
    color: var(--violet-color);
}
.btnForm:hover{
    background-color: var(--lilac-color);
    color: var(--white-color);
}